/*call back*/
/* font-family: "PTSansPro-Light"; */
@font-face {
    font-family: "PTSansPro-Light";
    src: url("../fonts/PTSansPro-Light/PTSansPro-Light.eot");
    src: url("../fonts/PTSansPro-Light/PTSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansPro-Light/PTSansPro-Light.woff") format("woff"), url("../fonts/PTSansPro-Light/PTSansPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.mx-consult{
    right: -700px;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
    z-index: 10000;
    display: block;
    width: 650px;
    position: absolute;
    background: #fff;
    height: 100%;
    padding: 70px;
    overflow: hidden;
    overflow-y: auto;
}
body.mx-back_call_open{
    overflow: hidden;
    margin-left: -650px;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
    width: 100%;
}
body.mx-back_call_open.mx-closed{
    margin-left: -0px;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
}
body.mx-back_call_open .mx-back_call_wrap{
    display: block;
}
.mx-back_call_wrap{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index:99999;
}
.mx-consult{
    right: -700px;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
    opacity:1;
    z-index:10000;
}
.mx-consult.mx-actice{
    right: 0px;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
}
.mx-call-back_btn{
    font-family: 'PTSansPro-Light', serif;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    padding-top: 8px;
    position: fixed;
    z-index: 1000;
    bottom: 42px;
    right: 104px;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
    outline: none;
}
.mx-license_text{
    text-align: left;
    float: left;
    padding: 0px 6px;
}
.mx-license_link{
    float: left;
}
.fade-slide-box{
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
}
.fade-slide-box.fade-slide-right_off{
    right: -1000px;
}
.fade-slide-right{
    right: 0px;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
}
.fade-slide-left{
    left: 0px;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
}
.fade-slide-box.fade-slide-left_off{
    left: -1000px;
}

.mx-ico-close{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    position: absolute;
    top: 9px;
    right: 30px;
    cursor: pointer;
}
.mx-consult .form-control {
    height: 50px;
    margin-bottom: 18px;
}

/*media*/
@media only screen and (max-width: 768px){
    .mx-number_wrap{
        text-align: center;
    }
    .mx-consult{
        padding: 40px 20px;
    }
}
@media only screen and (max-width: 650px){
    .mx-consult{
        width: 100%;
    }    
    .mx-consult .checkbox label{
        padding-top: 0;
    }
    .mx-license_link {
        padding: 0px 6px;
    }
    .mx-license_text {
        margin-top: -5px;
    }
}